.btn{
    margin-top: 50px;
    margin-right: 60px;
    margin-bottom: 30px;
    margin-left: 100px;

    /* all sides */
    margin: 50px;

    /* top & bottom -> left & right */

    margin: 50px 30px;

    /* top -> left & right -> bottom */
    margin: 10px 50px 25px;

    /* top -> right -> bottom -> left */
    margin: 50px 60px 30px 100px;

    padding: 5px 10px 0 25px;
    padding: 10px 30px;

    border-radius: 20px 3px;

    border: none;
    border-bottom: 3px solid dodgerblue;
    border-top: 3px solid crimson;
}

.title{
    text-align: center;
    color: red;
    background: bla;
}